// @use '../abstract/colors' as *;
// @use '../abstract/mixins' as *;
@import '../abstract/colors';
@import '../abstract/mixins';

.container {
  max-width: $maw-container;
  margin: 0 auto;
  width: 90%;
}

body {
  scroll-behavior: smooth;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

p {
  max-width: 65ch;
}

a {
  &:hover {
    color: currentColor !important;
  }
}
